:root {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  --text-primary: white;
  --bg-primary: black;
  --bg-secondary: rgb(255, 255, 121);
  --bg-terciary: rgb(44, 44, 44);
  --border-radious: 5px;
  --transition-speed: 0.5s;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

/* SCROLLING TAB */
body::-webkit-scrollbar {
  width: 0.75rem;
  background-color: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-terciary);
}

/* NAV BAR */

nav {
  height: 50px;
  background-color: var(--bg-secondary);
  background-color: gray;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .menu-list {
  display: none;
}

/* Hamburger Menu */
#hamburger-check {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
nav .hamburger {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  background-color: inherit;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .hamburger > div {
  width: 100%;
  height: 3px;
  background-color: var(--bg-primary);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all var(--transition-speed) ease;
}

nav .hamburger > div::before,
nav .hamburger > div::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 3px;
  background-color: var(--bg-primary);

  transition: all var(--transition-speed) ease;
}

nav .hamburger > div::after {
  top: 10px;
}

#hamburger-check:checked + .hamburger > div::before,
#hamburger-check:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

#hamburger-check:checked + .hamburger > div {
  transform: rotate(405deg);
}
