:root {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  --text-primary: white;
  --bg-primary: black;
  --bg-secondary: hsl(0, 0%, 0%);
  --bg-terciary: rgb(44, 44, 44);
  --border-radious: 5px;
  --transition-speed: 0.4s;
  --fast-transition-speed: 0.2s;
  --transition: cubic-bezier(0, 0.96, 0.58, 1);
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

body {
  overflow-x: hidden;
  overflow-y: scrollS;
}
/* SCROLLING TAB */
body::-webkit-scrollbar {
  width: 0.75rem;
  background-color: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-terciary);
}

/* NAV BAR */

nav {
  height: 2rem;
  background-color: var(--bg-secondary);

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* logo */
nav .logo {
  font-size: 2rem;
  background-color: var(--bg-secondary);
  position: absolute;
  top: 0;
  left: 0;
}
nav .logo::after {
  content: "";
  height: 1rem;
}
/* Hamburger Menu */
#hamburger-check {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
nav .hamburger {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  background-color: inherit;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .hamburger > div {
  width: 100%;
  height: 2px;
  background-color: var(--text-primary);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all var(--transition-speed) ease;
}

nav .hamburger > div::before,
nav .hamburger > div::after {
  content: "";
  position: absolute;
  top: -8px;
  width: 100%;
  height: 2px;
  background-color: var(--text-primary);

  transition: all var(--transition-speed) ease;
}

nav .hamburger > div::after {
  top: 7px;
}

/*hamburger menu animations */
#hamburger-check:checked + .hamburger > div::before,
#hamburger-check:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

#hamburger-check:checked + .hamburger > div {
  transform: rotate(405deg);
}

/* menu list */
nav .menu-list {
  position: absolute;
  top: 2rem;
  right: 0;

  max-width: 0;

  overflow: hidden;

  transition: max-width var(--transition-speed) ease;
}

.menu-list .menu-list-item {
  padding: 1rem;
  font-size: 2rem;
  border-bottom: 1px solid var(--text-primary);
  overflow: hidden;
  position: relative;
}
.menu-list .menu-list-item a {
  transition: opacity var(--fast-transition-speed) ease;
}
.menu-list .menu-list-item a:hover {
  opacity: 0.5;
}
#products-check {
  position: absolute;
  right: 1.5rem;
  top: 0;

  width: 2rem;
  height: 100%;

  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.menu-list .menu-list-item > span {
  display: inline-block;
  height: 1px;
  width: 1rem;
  margin: 0.5rem 1rem;
  background-color: var(--text-primary);
  position: relative;
}

.menu-list .menu-list-item > span::before {
  content: "";
  width: 0.5px;
  height: 1rem;
  background-color: var(--text-primary);
  position: absolute;
  top: -7px;
  right: 8px;

  transition: all var(--transition-speed) ease;
}

/* menu list animations*/

#hamburger-check:checked ~ .menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 100vw;
}

#products-check:checked + span::before {
  transform: scaleY(0);
}

/* nested menu */

.menu-list .nested-menu {
  position: relative;
  top: 1rem;
  font-size: 1.3rem;
  max-height: 0;
  transition-property: max-height, top;
  transition: var(--transition-speed) var(--transition);
}

#products-check:checked ~ .nested-menu {
  top: 0;
  max-height: 500px;
}

/* MAIN */
main {
  width: 100vw;
}
h1 {
  margin: auto;
  text-align: center;
  margin-top: 0.5rem;
}
/* SHOWCASE */

/* showcase menu */
.showcase-menu {
  background-color: inherit;
}
.showcase-menu-list {
  background-color: inherit;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 50%;
}
.showcase-menu-list-item {
  padding: 0.5rem;
}
.showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 2rem 1.5rem;
}

.showcase-item {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  padding: 0.5rem;
}

.showcase-item-title {
  background-color: inherit;
}
.showcase-item-price {
  background-color: inherit;
}
.showcase-item-cta {
  overflow: hidden;
  background-color: inherit;
}
.showcase-item-cta > button {
  width: 100%;
  position: relative;
  top: -2rem;
  transition: top var(--transition-speed) var(--transition);
  background-color: inherit;
}
.showcase-item:hover > .showcase-item-cta > button {
  top: 0;
}
