@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --bg-base: rgb(211, 211, 211);
  --bg-primary: hsl(0, 0%, 99%);
  --bg-btn: hsl(246, 100%, 69%);
  --text-btn: white;
  --bg-selection: var(--bg-btn);
  --border-r: 20px;
  --bg-incorrect: hsl(0, 100%, 69%);
  --bg-correct: hsl(130, 100%, 69%);
  --txt-col-primary: black;
  --scale-transform: 1.1;
  --trans-speed: 0.5s;
  --trans-style: ease-out;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--bg-base);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  outline: none;
} */
body {
  @apply bg-base;
}

#hamburguer-check:checked + i {
  transform: rotate(180deg);
}
.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "counter time";
  transition: none;
}
.inactive {
  @apply bg-secondary;
}

.active {
  @apply bg-active text-txt-primary;
}

button:disabled {
  @apply bg-blocked text-txt-primary;
  cursor: not-allowed;
}
