@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  outline: none;
} */

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-btn);
  border-radius: 5px;
}

body {
  @apply dark:bg-base-dark bg-base;
}

.nav-tab {
  @apply w-min p-2 m-auto hover:bg-base hover:text-txt-base;
}

.tab-active {
  @apply bg-base text-txt-base;
}

.highlight {
  @apply font-medium;
}

#toggler-check:checked + div {
  transform: translateX(1.7rem);
}
